body {
  color: #c8c3bc;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #181a1b;
}
.main-content {
  flex-grow: 1;
}
footer {
  color: #9d9488;
  border-top: 1px solid #35393b;
  margin-top: 16px;
  padding: 16px 0;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
header a {
  color: #9d9488;
  margin-right: 16px;
  text-decoration: none;
}
header a:hover {
  color: #c8c3bc;
}
.profile-image {
  width: 30%;
}
input {
  border: 1px solid #3e4446;
  padding: 8px;
  border-radius: 10px;
  outline: none;
}
button {
  cursor: pointer;
  border: 1px solid #52585c;
  background: #5b6367;
  color: #e8e6e3;
  padding: 8px;
  border-radius: 10px;
  outline: none;
}
